@model App.ViewModels.RegisterVehicleViewModel


@*STEG 2*@
<h1>Här Registrerar vi nya bilar</h1>

@*Steg 4. SKAPA ETT FORMULÄR*@
<form asp-controller="Vehicles" asp-action="Create" method="POST">
    <div class="card">
        <div class="card-header">
            <h4>Registrera nytt fordon</h4>
        </div>
        <div class="card-body p-3">
            <div class="mb-3">
                <label class="form-label" asp-for="RegistrationNumber"></label>
                <input class="form-control" asp-for="RegistrationNumber">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Make"></label>
                <input class="form-control" asp-for="Make">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Model"></label>
                <input class="form-control" asp-for="Model">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="FuelType"></label>
                <input class="form-control" asp-for="FuelType">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="GearType"></label>
                <input class="form-control" asp-for="GearType">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ModelYear"></label>
                <input class="form-control" asp-for="ModelYear">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Mileage"></label>
                <input class="form-control" asp-for="Mileage">
            </div>
            <button type="submit" class="btn btn-primary">Registrera</button>
        </div>
    </div>
</form>